{% extends 'layout.html' %}
{% block title %}Registrar Usuário{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h3>Registrar</h3>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input class="form-control" name="nome" required>
      </div>
      <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input class="form-control" name="email" type="email" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input class="form-control" name="senha" type="password" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Perfil</label>
        <select name="perfil" class="form-select">
          <option value="inspetor">Inspetor</option>
          <option value="administrador">Administrador</option>
        </select>
      </div>
      <button class="btn btn-primary">Registrar</button>
    </form>
  </div>
</div>
{% endblock %}
